{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Informatorio</title>
</head>

<body>
    <header>
        <nav>
            <h2>MENU</h2>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                <!--                nombre de la app : nombre de la url     -->
                <li><a href="{% url 'noticias:h_noticias' %}">Noticias</a></li>
            </ul>
        </nav>

        <img src="{% static 'img/dibu.jpg' %}" alt="">
    </header>
    <main>
        {% block contenido %}


        {% endblock contenido %}
    </main>
    <footer>

    </footer>
</body>

</html>